@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mystery+Quest&family=Ranchers&display=swap");
* {
    margin: 0;
    padding: 0;
}
.background-black{
    /* background-color: rgb(15, 15, 15); */
}
/* header */

header {
    background: center/cover no-repeat url(./img-dessert/banniere.png);
}

#logo {
    position: relative;
    left: 100px;
    top: 70px;
}
h1 {
    font-size: 6rem;
    color: #e6d098;
    text-align: center;
    font-family: "Mystery Quest";
}
header a {
    font-size: 1.5rem;
    color: #a85702;
    background-color: #e6d098;
    padding: 5px;
    margin: 20px;
    height: 30px;
    text-decoration: none;
    border-radius: 8px;
    display: block;
}
#headerNav {
    display: flex;
    justify-content: space-between;
}
/* footer */
footer {
    height: 60vh;
    background: center/cover no-repeat url(./img-dessert/footer.png);
    position: relative;
    padding: 2rem;
}
footer > img {
    margin-top: 10rem;
}
footer h3 {
    color: white;
    font-size: 1.2rem;
    margin-top: 3rem;
}
footer p {
    color: white;
    margin-top: 5rem;
    margin-left: 18rem;
}
footer div {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
}
footer div img {
    width: 50px;
    margin-top: 50px;
}
.categorie {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 5vh;
}
.categorie article {
    position: relative;
}
section:nth-child(1) article h2 {
    font-family: Ranchers;
    color: #e6d098;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(26, 26, 26);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 4vh 8vw;
}
.articles figcaption {
    font-family: "Mystery Quest";
    font-size: 28px;
    text-align: center;
    margin-bottom: 0.5rem;
}

form{
    width: 50vw;
    height:50vh;
    background-color: rgb(46, 46, 46);
    margin: 15vh auto;
    border-radius: 20px;
    padding: 3rem 0;
}
form h2{
    color: white;
}
fieldset{
    width: 45rem;
    margin: 1rem auto;
    background-color: rgb(116, 116, 116);
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
}
h2{
    text-align: center;
}
.submit{
    width: 10rem;
    background-color: rgb(36, 35, 35);
    text-align: center;
    
}
.labels{
    display: flex;
    
}
